@use "../Utils/" as *;

.scroll-anchor {
    position: fixed;
    bottom: 10px;
    right: 0;
    @include center-flex;
    aspect-ratio: 1/1;
    height: 50px;
    background-color: var(--input-bg-color);
    border: 2px solid var(--input-text-color);
    border-radius: var(--default-border-radius-value);
    z-index: 3;

    @include mobile-only {
        bottom: 2px;
        border-right: none;
        border-radius: 50% 0 0 50%;
    }

    &__icon {
        color: var(--input-text-color);
    }
}