@use "../Utils/" as *;

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 36px;
}

h2 {
    font-size: 18px;
}

button {
    font-family: 'Lato', sans-serif;
}

input {
    font-family: 'Lato', sans-serif;
}