@use "../Utils/" as *;

.main-index {
    @include center-flex-column;
    margin-bottom: 50px;

    &__content-container {
        width: 90%;
    }

    &__input-container {
        width: 100%;
        //Relative to the label: line 27
        position: relative;
    }

    &__input {
        background-color: var(--input-bg-color);
        color: var(--input-text-color);
        width: 100%;
        height: 70px;
        padding: 24px;
        border-radius: var(--default-border-radius-value);
    }

    &__label {
        //Absolute to the input container, line: 13
        position: absolute;
        top: 20px;
        right: 20px;
    }

    &__glass-icon-svg {
        aspect-ratio: 1/1;
        height: 32px;
    }


    &__tags-container {
        margin-top: 25px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }



    &__tag {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        @include center-flex(15px);
        border-radius: var(--default-border-radius-value);
        color: var(--options-input-text-color);

        padding: 10px;

        &--ingredients-bg {
            background-color: var(--options-ingredients-bg-color);
        }

        &--devices-bg {
            background-color: var(--options-devices-bg-color);
        }

        &--utensils-bg {
            background-color: var(--options-utensils-bg-color);
        }



        &-close-button {
            @include center-flex;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            aspect-ratio: 1/1;
            height: 20px;

            &:hover {
                cursor: pointer;

                & path {
                    fill: var(--tag-close-button-icon-color--hover)
                }
            }
        }

        // &__close-button-icon-svg {}
    }

    &__sort-inputs-container {
        margin-top: 15px;
        flex-wrap: wrap;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
    }

    &__recipes-container {
        margin-top: 25px;

        @include grid(2, 3, 30px);

        @include desktop-only {
            gap: 50px;
        }

        @include tablet-only {
            @include grid(1, 2, 30px);
        }

        @include mobile-only {

            @include grid(1, 1, 30px);
        }
    }

}



.dropdown-menu {
    border-radius: var(--default-border-radius-value);
    height: 70px;
    width: 200px;

    @include mobile-only {
        width: 100%;
    }

    transition: width 350ms ease-out;


    //Relative to the label, line: 131
    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--ingredients {
        background-color: var(--options-ingredients-bg-color);
    }

    &--devices {
        background-color: var(--options-devices-bg-color);
    }

    &--utensils {
        background-color: var(--options-utensils-bg-color);
    }

    //Absolute to the container, line: 113
    &__sort-label {
        position: absolute;
        top: 25px;
        right: 15px;
        //Transition for the JS class .label-active
        transition: rotate 350ms ease-out;
    }

    &__sort-input {
        background-color: transparent;
        text-align: left;
        color: var(--options-input-text-color);
        font-size: 16px;
        padding: 0 15px;
        width: 90%;

        &:hover {
            cursor: pointer;
        }

        &::-webkit-input-placeholder {
            color: var(--sort-input-placeholder-color);
        }

        &::-moz-placeholder {
            color: var(--sort-input-placeholder-color);
        }

        &:-ms-input-placeholder {
            color: var(--sort-input-placeholder-color);
        }

        &::-ms-input-placeholder {
            color: var(--sort-input-placeholder-color);
        }

        &::placeholder {
            color: var(--sort-input-placeholder-color);
        }
    }

    &__options {
        @include grid(auto-fill, 3, 15px);

        @include tablet-only {
            @include grid(auto-fill, 2, 15px);
        }

        @include mobile-only {
            @include grid(auto-fill, 1, 15px);
        }

        color: var(--options-input-text-color);
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 0px; //250px
        transition: height 450ms ease-out;
        margin-top: -5px;
        border-radius: 0 0 var(--default-border-radius-value) var(--default-border-radius-value);
        z-index: 1;
        overflow-y: auto;

        &--ingredients {
            background-color: var(--options-ingredients-bg-color);

        }

        &--devices {
            background-color: var(--options-devices-bg-color);



        }

        &--utensils {
            background-color: var(--options-utensils-bg-color);


        }

        @include mobile-only {
            width: 100%;
        }
    }

    // &__options-list {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 15px;
    // }

    &__option-item {
        font-size: 14px;
        padding: 10px 20px;
        margin: 5px;
        border-radius: var(--default-border-radius-value);

        display: flex;
        justify-content: flex-start;
        align-items: center;

        &--ingredients {
            background-color: var(--options-ingredients-bg-color);

            &:hover {
                cursor: pointer;
                background-color: var(--options-ingredients-bg-color--hover);
            }

        }

        &--devices {
            background-color: var(--options-devices-bg-color);

            &:hover {
                cursor: pointer;
                background-color: var(--options-devices-bg-color--hover);
            }


        }

        &--utensils {
            background-color: var(--options-utensils-bg-color);

            &:hover {
                cursor: pointer;
                background-color: var(--options-utensils-bg-color--hover);
            }

        }


    }


}



.recipe-card {
    width: 100%;
    height: 380px;
    max-width: 700px;
    ;

    &__image-container {
        border-radius: var(--default-border-radius-value) var(--default-border-radius-value) 0 0;
        width: 100%;
        height: 52%;
        background-color: var(--recipe-image-container-bg-color);
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        border-radius: 0 0 var(--default-border-radius-value) var(--default-border-radius-value);

        height: 48%;
        overflow: hidden;
        padding: 10px 20px 10px 20px;
        background-color: var(--recipe-ingredients-bg-color);
        color: var(--recipe-text-color);
    }

    &__title-prep-time {
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }

    &__recipe-name {
        font-weight: 400;
        font-size: 18px;
    }

    &__recipe-prep-time {
        font-weight: 700;
        font-size: 18px;
        text-align: right;
        @include center-flex(7px);
    }

    &__ingredients-instructions {
        display: flex;
        gap: 10px;
    }

    &__ingredients-list {
        width: 100%;
        max-height: 100px;
        overflow-y: auto;
    }

    &__ingredient-item {
        font-size: 12px;
        padding: 1px;
        width: 100%;

        &-name {
            font-weight: 700;
        }
    }

    &__instructions {
        font-size: 12px;
        width: 100%;

        max-height: 100px;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

// .clock-svg {
//     &>path {
//         aspect-ratio: 1/1;
//         height: 20px;
//     }
// }