@use "../Utils/" as *;

//Class to toggle the display of element in the DOM
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.input-container-active {
    width: 625px !important;
    z-index: 1;

    @include mobile-only {
        width: 100% !important;
    }
}

//
.label-active {
    rotate: 180deg;
}

//
.dropdown-options-active {
    height: auto !important;
    max-height: 450px;

}

.dropdown-options-inactive {
    height: 0 !important;
    transition: width 450ms ease-out;
    width: 0 !important;
}