//SASS color variables
$body-bg-color: white;
$logo-text-color: #D04F4F;

$input-bg-color: #E7E7E7;
$input-text-color: black;

$options-ingredients-bg-color: #3282F7;
$options-ingredients-bg-color--hover: darken(#3282F7, 10%);
$options-ingredients-bg-color--active: lighten(#3282F7, 10%);

$options-devices-bg-color: #68D9A4;
$options-devices-bg-color--hover: darken(#68D9A4, 10%);
$options-devices-bg-color--active: lighten(#68D9A4, 10%);

$options-utensils-bg-color: #ED6454;
$options-utensils-bg-color--hover: darken(#ED6454, 10%);
$options-utensils-bg-color--active: lighten(#ED6454, 10%);

$options-input-text-color: white;

$recipe-image-container-bg-color: #c7bebe;
$recipe-ingredients-bg-color: #e7e7e7;
$recipe-text-color: black;

$scrollbar-track-bg-color: white;
$scrollbar-thumb-bg-color: #545454;
$scrollbar-thumb-bg-color--hover: #757575;
$scrollbar-thumb-bg-color--active: #b0b0b0;

$sort-input-placeholder-color: #ffffff80;

$tag-close-button-icon-color--hover: red;

//CSS variables
:root {
    //CSS Color values
    --body-bg-color: #{$body-bg-color};
    --logo-text-color: #{$logo-text-color};

    --input-bg-color: #{$input-bg-color};
    --input-text-color: #{$input-text-color};

    --options-ingredients-bg-color: #{$options-ingredients-bg-color};
    --options-ingredients-bg-color--hover: #{$options-ingredients-bg-color--hover};
    --options-ingredients-bg-color--active: #{$options-ingredients-bg-color--active};

    --options-devices-bg-color: #{$options-devices-bg-color};
    --options-devices-bg-color--hover: #{$options-devices-bg-color--hover};
    --options-devices-bg-color--active: #{$options-devices-bg-color--active};

    --options-utensils-bg-color: #{$options-utensils-bg-color};
    --options-utensils-bg-color--hover: #{$options-utensils-bg-color--hover};
    --options-utensils-bg-color--active: #{$options-utensils-bg-color--active};


    --options-input-text-color: #{$options-input-text-color};

    --recipe-image-container-bg-color: #{$recipe-image-container-bg-color};
    --recipe-ingredients-bg-color: #{$recipe-ingredients-bg-color};
    --recipe-text-color: #{$recipe-text-color};


    --scrollbar-track-bg-color: #{$scrollbar-track-bg-color};

    --scrollbar-thumb-bg-color: #{$scrollbar-thumb-bg-color};
    --scrollbar-thumb-bg-color--hover: #{$scrollbar-thumb-bg-color--hover};
    --scrollbar-thumb-bg-color--active: #{$scrollbar-thumb-bg-color--active};

    --sort-input-placeholder-color: #{$sort-input-placeholder-color};

    --tag-close-button-icon-color--hover: #{$tag-close-button-icon-color--hover};

    //CSS Pixel values
    --default-border-radius-value: 5px;

}